<h1>Welcome to Table Label</h1>
<h2>Compatible Cuisine for Content Company</h2>

<div id="center-links">
<p><a href="/questions"><button type="button" class="btn btn-success btn-lg">Get Your Table Label</button></a></p>
<p><a href="/retrieve"><button type="button" class="btn btn-success btn-lg">Host the Perfect Party</button></a></p>
    </div>