#table-label ul {
    list-style-type: none;
}

#table-label li {
    margin: 5px 0;
}

body {
    background-color: #e0e6de;
}

a:hover {
    opacity: 0.7;
}

#table-label h1 {
    font-family: copperplate;
    text-align: center;
    color: #212121;
    font-size: 25px;
}

#table-label h2 {
    font-family: copperplate;
    text-align: center;
    color: #212121;
    font-size: 20px;
    margin-bottom: 10%;
}

div#center-links {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

div#center-links p{
    display: inline;
    padding: 5%;
}

div.header {
    display: inline-block;
    height: 80px;
    width: 100%;
    padding-left: 15px;
    padding-top: 15px;
    background-color: #808285;
    -webkit-box-shadow: 0px 5px 5px #6c6d70;
    -moz-box-shadow:    0px 5px 5px #6c6d70;
    box-shadow:         0px 5px 5px #6c6d70;
}

#table-label .header a {
    vertical-align: middle;
    color: #ffffff;
    font-family: copperplate;
    text-shadow: 2px 3px 3px #000000;
    font-size: 30px;
    text-decoration: none;
}

#right-bar {
    display: inline-block;
    padding-right: 10%;
    float: right;
}



input[type=radio], input.radio {
    display: inline-block;

}

label {
    font-weight: bold;
    padding-left: 1em;
}

form#questions li {
    margin-bottom: 1em;
}

#double {
    width: 760px;
    margin-bottom: 20px;
    overflow: hidden;
}

#double li {
    width: 50%;
    line-height: 1.5em;
    float: left;
    display: inline;
}

#a-list {
    font-size: 20px;
    font-weight: bold;
    color: darkgreen;
}

#b-list {
    font-size: 20px;
    font-weight: bold;
    color: #64620c;
}

#c-list {
    font-size: 20px;
    font-weight: bold;
    color: #643408;
}

#f-list {
    font-size: 20px;
    font-weight: bold;
    color: #640307;
}