<form method="post" action="/display"><label for="diet">Enter the Table Labels on separate lines:</label>
<textarea name="code" rows="20" cols="40"></textarea>
    <input type="submit" value="Submit"></input>
</form>

<form>
    </form>